/*Ultra Black*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Black.otf');
	font-weight: 950;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-BlackItalic.otf');
	font-weight: 950;
	font-style: italic;
}

/*Heavy*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Heavy.otf');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-HeavyItalic.otf');
	font-weight: 900;
	font-style: italic;
}

/*Bold*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Bold.otf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-BoldItalic.otf');
	font-weight: 700;
	font-style: italic;
}

/*Semi Bold*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Semibold.otf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-SemiboldItalic.otf');
	font-weight: 600;
	font-style: italic;
}

/*Medium*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Medium.otf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-MediumItalic.otf');
	font-weight: 500;
	font-style: italic;
}

/*Regular*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Regular.otf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-RegularItalic.otf');
	font-weight: 400;
	font-style: italic;
}

/*Light*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Light.otf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-LightItalic.otf');
	font-weight: 300;
	font-style: italic;
}

/*Ultra Light*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Ultralight.otf');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-UltralightItalic.otf');
	font-weight: 200;
	font-style: italic;
}

/*Thin*/
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-Thin.otf');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Text";
	src: url('https://dusbrio.github.io/AppleFonts/main/fonts/SF%20Pro%20Text/SF-Pro-Text-ThinItalic.otf');
	font-weight: 100;
	font-style: italic;
}